{% extends 'base.html' %}
{% block content %}
    <div class="container container-fluid page-crear-paciente">
        <section class="section-pacientes">
            <div class="row">
                <div class="col-12">
                     <h2 class="minsa-pacientes"> Crear Paciente</h2>
                </div>
            </div>
            <div class="formulario">
                {% load crispy_forms_tags %}
                <form action="./" method="post">
                    {% csrf_token %}

                    <!--
                    {% if form.errors %}
                        <div class="row texto-error">
                          <div class="col-md-12">

                             <div class="alert alert-danger msj-error">

                                <button type="button" class="close msj-close" data-dismiss="alert">×</button>


                                 {% if form.non_field_errors %}
                                    {{ form.non_field_errors }}
                                 {% endif %}

                                <ul>
                                {% for field, error in form.errors.items %}
                                    <li><strong>{{ field }}:</strong>  {{ error|striptags }}</li>
                                {% endfor %}
                                </ul>
                             </div>
                          </div>
                        </div>

                    {% endif %}
                    -->


                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                        {{ form.tipo_documento|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group num-doc">
                                        {{ form.numero_documento|as_crispy_field }}
                                        <!-- {{ form.numero_documento.errors }} -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                    <div class="form-group">
                                            {{ form.nombres|as_crispy_field }}
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                        {{ form.appPaterno|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                        {{ form.appMaterno|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                    <div class="form-group">
                                    {{ form.fecha|as_crispy_field }}
                                    </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label>Edad</label>
                                    <input type="text" class="form-control" id="inputEdad">
                                    </div>
                            </div>
                        </div>
                        <button id="btnSubmit" type="submit" class="btn btn-primary">Crear</button>
                        <a href="/" class="btn btn-danger">Cancelar</a>
                </form>
            </div>
        </section>
    </div>
{% endblock %}
