{% extends 'basepartials/base_template.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block css-page %}
{% endblock %}

{% block container %}

    <ol class="breadcrumb">
        <li ><a href="#">Inicio</a></li>
        <li class="active">Configuración</li>
    </ol>
    <!--
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Hola</h3>
        </div>
    </div>
    -->
    <div class="panel-content page-listar-paciente">
        <!--
        <div class="row">
            <div class="col-md-12">
                <h2>Listar Pacientes</h2>
            </div>
        </div> -->
        <section class="section-buscar-paciente">
            <div class="row">
                <div class="">
                    <form method="post" class="form-buscar">
                        <div class="form-row">
                            {% csrf_token %}
                            <div class="form-group col-md-5">
                                <div class="group-tipo">
                                      {{ form.tipo_documento|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-group col-md-5">
                                <div class="group-num">
                                      {{ form.numero_documento|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-group col-md-2 ">
                                <div class="form-group box-btn">
                                    <button type="submit" class="btn btn-primary">Buscar</button>
                                    <a href="/crear" class="btn btn-default">Crear </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section class="listar-paciente">
            {% if messages %}
            <div class="row">
                <div class="col-md-12">
                    {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                         <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{ message|safe }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <h2>Listar Pacientes</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tipo de Documento</th>
                            <th>Numero de Documento</th>
                            <th>Fecha de Nacimiento</th>
                            <th class="edadl">Edad</th>
                            <th>Nombres y Apellidos</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for paciente in pacientes %}
                            <tr>
                                <td>{{ paciente.tipo_documento }}</td>
                                <td>{{ paciente.numero_documento }}</td>
                                <td class="fechal">{{ paciente.fecha }}</td>
                                <td class="edadl">{{ paciente.edad }}</td>
                                <td>{{ paciente.nombres }} {{ paciente.appPaterno }} {{ paciente.appMaterno }}</td>
                                <td><a href="/eliminar-pacientes/{{ paciente.pk }}" class="btn btn-danger">Eliminar</a></td>
                                <td><a href="/editar/{{ paciente.pk }}" class="btn btn-default">Editar</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
{% endblock %}

{% block js-page %}
{% endblock %}